<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cities</title>
</head>
<body>
<a href="/create-city">Create new City</a>
<h1>Cities</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>City Name</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="city : ${cities}">
        <tr>
            <td th:text="${city.id}"></td>
            <td th:text="${city.cityName}"></td>
            <td th:text="${city.country}"></td>
            <td><a th:href="@{/edit-city/__${city.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-city/__${city.id}__ }">Delete</a></td>
        </tr>
    </th:block>
    <div>
        <a th:href="@{'/cities'(page=${cities.number - 1})}" th:if="${cities.hasPrevious()}">Previous</a>
        <span th:text="${cities.number + 1}"></span>/<span th:text="${cities.totalPages}"></span>
        <a th:href="@{'/cities'(page=${cities.number + 1})}" th:if="${cities.hasNext()}">Next</a>
    </div>
</table>

</body>
</html>